body {
	width: auto;
	margin: 1em;
}
p, div {
	margin: 0em 0em 0em 0em;
	padding: 0em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0em 0em .2em 0em;
	padding: 0em 0em .1em 0em;
}

.banner { 
	margin: 0em;
	padding: .5em;

}
.navigation {
	margin: 0em 0em 0em 0em;
	padding: .3em;
}

.content_main {
	margin: 0em;
	padding: 0em;
}

.content_left {
	float: left;
	width: 200px;
	margin: 1em 0em 0em 0em;
	padding: 0em;
}
.content_left .box {
	margin: 0em 0em 1em 0em;
}
.content_left .box .header {
	padding: .5em;
}
.content_left .box p {
	padding: 0em .3em 0em .3em;
	margin: .0em 0em .5em 0em;
}

.content_right {
	position:absolute;
	left:220px;
	margin: 0px 0px 0px 0px;
	padding: 1em;
}

.meta-info {
	text-align: right;
}

.footer {
	clear: both;
	padding: 1em;
	margin: 0em;
}

.paragraph		{
					margin-bottom:.5em;
				}