body {
	background-color: #FFF;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
a, a:link, a:active { color: #0000FF; text-decoration: none; }
a:visited { color: #003399; text-decoration: none; }
a:hover { color: #990000; text-decoration: underline; }
p	{}
div {
}
h1 {}
h2 { color: #003366;}
h3 { color: #336699; border-bottom: 1px solid #336699;}
h4 { color: #6699CC; border-bottom: 1px solid #6699CC;}
h5 { color: #99CCFF;}

ul		{
			padding:0px;
			margin-top:5px;
			margin-bottom:5px;
			margin-left:25px;
		}

.banner { 
	background-color: #003366;
	color: #FFFFFF;
	font-weight: bolder;
}
.navigation {
	background-color: #CCDDEE;
	border: 1px solid #999999;
	font-size: 80%;
}
.content_main { background-color: #FFFFFF;}
.content_left {
		font-size: 90%;
}
.content_left .box {
	border: 1px solid #336699;
	background-color: #DDEEFF;
	font-size: 85%;
}
.content_left .box .header {
	background-color: #003366;	
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1em;
}
.content_left .box p {
}
.content_right {
}
.footer {	
	color: #999;
	font-size: smaller;
	text-align: center;
	border-top: 1px dashed #CCCCCC;
}
.meta-info {
	font-size: 80%;
}
.paragraph {
	line-height: 1.4em;
}

.smaller { font-size: 65%; }
.darkest { background-color: #003366; }
.darker { background-color: #336699; }
.dark { background-color: #6699CC; }
.light { background-color: #99CCFF; }
.lighter { background-color: #DDEEFF; }
.lightest { background-color: #FFFFFF; }

.xml1-attributename { color: #800000; }
.xml1-attributevalue { color: #FF0000; }
.xml1-cdatasection { color: #808000; }
.xml1-comment { color: #808080; font-style: italic; }
.xml1-currentline { color: #000000; }
.xml1-doctypesection { color: #008080; }
.xml1-elementname { color: #000080; }
.xml1-entityreference { color: #0000FF; }
.xml1-matchedbraces { color: #FF0000; }
.xml1-namespaceattributename { color: #008000; }
.xml1-namespaceattributevalue { color: #0000FF; }
.xml1-processinginstruction { color: #000080; }
.xml1-rightedge { color: #C0C0C0; }
.xml1-selection { color: #FFFFFF; }
.xml1-symbol { color: #808080; }
.xml1-text { color: #000000; }
.xml1-whitespace { color: #FFFFFF; }

.calcheading	{
					font-weight:bold;
				}
				
.calcheading td	{
					padding-left:10px;
					padding-right:10px;
				}
				
.calcrow td		{
					background-color:#EEEEEE;
					text-align:right;
				}
				
.totalrow td	{
					text-align:right;
				}